h1 {
    font-size: 20px;
    color: white;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    box-shadow: none;
}

.navbar-toggler:active {
    background-color: grey;
}

.navbar {
    background: green;
}

.navbar-toggler {
    border: 2px solid grey;
}

.navbar-toggler-icon {
    filter: invert();
}

.nav-link {
    font-size: 15px;
    color: white;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
    background-color: skyblue;
}


/* custom scrollbar */ 
::-webkit-scrollbar
{
	width: 20px;
	background-color: pink;
}

::-webkit-scrollbar-thumb
{
	background-color: orangered;	
	background-image: -webkit-linear-gradient(45deg,
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent);
    border-radius: 20px;
}